/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

#container-login {
    padding: 5px;
    position: absolute;
    top: 20%;
    left:15%
    
}

#login {
    justify-content: center;
    align-items: center;
    padding: 10px;
}